

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,100;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/*yıldız etiketi hepsini kapsasın diye */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins',sans-serif;
}

/* outline ise uzerine gelinen menunun altını çizmesini sağlıyor.*/
a,
a::link,
a::visited{
    text-decoration: none;
    outline: none;
    border: 0;
}
a:hover, a:active {
    color: ivory;
    text-decoration: none;
    outline: 0;
   
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-image: url(image/site5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}
.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-logo{
    font-size: 20px;
    letter-spacing: 2px;
    border-bottom: 5px solid #000;
    padding-bottom: 5px;
    

}


ul{
    display: flex;
}
li{
    margin-left: 27px;
}
li.first-child{
    margin-right: 70px;
    
}
a{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
.header-text{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 6.5rem;
    font-weight: bold;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: rgb(255, 166, 0);
    padding: 23px;
    font-weight: 20px;
    font-style: italic;
}
.first-letter{
    font-size: 8.5rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: rgb(255, 166, 0);
    font-weight: 20px;
    font-style: italic;
    
}
.btn-coffee{
    display: flex;
    background-color: rgb(93, 196, 214) ;
    color: white;
    padding: 10px 15px;
    border-top-left-radius: 34px;
    border-bottom-right-radius: 35px;
    position: relative;
    overflow: hidden;
}
/* after ile yazılan yer butona animasyon sağlamak icin verilen css */

.btn-coffee::after{
    content: "Buy";
    position: absolute;
    top: 100%;
    left: 0;
    background-color:rgb(139, 204, 43);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    color: black;
}
.btn-coffee:hover::after{
    top: 0;
}

/*About*/

.about{
    margin-bottom: 150px;

}

.about-title{
    margin: 60px 0;
}

.about-title h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: rgb(103, 230, 0);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', cursive;

}

.about-title h2::after{
    content: "";
    width: 200px;
    height: 3px;
    background-color: rgba(252, 0, 0, 0.466);
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;/*resim ile yazıyı birbirinden ayırdı*/
    flex-wrap: wrap;
}
.about-img{
    width: 40%;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* en boy oranını koruyarak bu işlem yapar*/

}
.about-text{
  
}

h4{
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px;
    color: black;
    font-family: 'Herr Von Muellerhoff', cursive;
    letter-spacing: 0.5rem;
    font-weight: 100;
}
#asterisk{
    color: blue;
    margin-bottom: 25x;
    text-align: center;
}

.about-text p{
    font-size: 15px;
    text-align: center;
    color: rgb(141, 141, 141);
}

/*PORTFOLİO*/

.portfolio{
    display: flex; /*resimleri yan yana getirdi*/
    flex-wrap: wrap; /*tasan resimleri alta getirecek*/
}

.portfolio-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(226, 230, 0, 0.61);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.portfolio-item:hover .overlay{
    top: 0;
}

/* resimin üstüne gelindiğinde resmin yakınlaşmasını sağlıyor*/
.portfolio-item:hover img{
 transform: scale(1.1);
}

/*CONTRACT*/

.contract{
    padding: 10px 0;
}

.contract h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: rgb(103, 230, 0);
    font-size: 30px;
    font-weight: 600;
}


.contract h2::after{
    content: "";
    width: 200px;
    height: 3px;
    background-color:rgba(252, 0, 0, 0.466);
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}

.contract-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;

}
.contract-item{
    display: flex;
    align-items: center;
   
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}
.contract-item i{
    font-size: 25px;
    margin-bottom: 50px;
    color: tomato;

}
.contract-item p{
    font-size: 14px;
    line-height: 33ccccpx;
}

/*FOOTER*/

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: rgb(103, 230, 0);
    font-size: 30px;
    font-weight: 600;
    padding: 60px 0;
}

.footer h2::after{
    content: "";
    width: 200px;
    height: 3px;
    background-color:rgba(252, 0, 0, 0.466);
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}
.footer{
    background-color: black;
}

.footer-copyright{
    color: white;
    text-align: center;
    flex-basis: 55%;
    line-height: 2; /* yazı satır boşluğu*/
    font-size: 13px;
    margin-bottom: 25px;
}

.foter-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-social i{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 41px;
         
}
.footer-social:first-child{
    margin-left: 70px;
}

#menu-icon{
    font-size: 25px;
    display: none;
    margin-left: 20px;
}
/* telefon tablet için responsive */
@media only screen and (max-width:800px){
    .header-menu ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        background-color:rgba(207, 207, 33, 0.849);
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
        }
    .header-menu ul li{
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header-menu ul li a{
        color: white;


    }
    .header-menu #menu-icon{
        display: block;
        cursor: pointer; /* üstüne gelindiğine çıkması için*/
    }
}

/*ABOUT*/

@media only screen and (max-width:990px){
    .about-img{
        width: 100%;
        margin-bottom: 30px;
    }
    .about-text{
        width: 100%;
    }
}

/* PORTFOLİO*/

@media only screen and (max-width:990px){
    .portfolio .portfolio-item{
        flex-basis: 50%;
    }
}


@media only screen and (max-width:580px){
    .portfolio .portfolio-item{
        flex-basis: 100%;
    }
}

@media only screen and (max-width:800px){
    .contract-content{
        flex-direction: column;
    }
    .contract-item{
        margin-top: 30px;
    }
    .contarct-item p{
        width: 100%;
        text-align: center;
    }
}